[alias]
    # COMMON SHORTHANDS

    ap = add --patch   # choose which hunks to add - very useful
    au = add --update   # stage only changes in tracked files

    br = branch
    co = checkout

    # see what you're commiting when editing the commit message
    ci = commit --verbose

    # Word-Diff (highlight individual changed words, not whole lines)
    wd = diff --word-diff=color

    please = push --force-with-lease   # never use plain --force!

    rb = rebase
    rbi = rebase --interactive

    rs = reset
    rs1 = reset HEAD~1   # "soft undo" - remove last commit, but keep its changes

    s = status --short   # see also --branch option
    st = !git -c status.submodulesummary=false status && git submodule-details

    supdate = submodule update --init --recursive


    # PRETTY LOGS

    # Compact and very readable log. See git-pretty-log for definition.
    l  = pretty-log

    # (L)og (A)ll local and remote branches
    la = pretty-log HEAD --branches --remotes

    # (L)og current branch and its (U)pstream
    lu = pretty-log --boundary HEAD...@{upstream}

    # (L)ong (L)og format - full commit message and summary of changes
    ll = log --graph --stat-graph-width=30 --stat-count=30

    # (Log) with (P)atches (show changes in files/submodules)
    lp = log --patch --submodule=log --topo-order

    # reflog with better format (dates and commit message subject)
    rf = !GIT_PAGER='less -REXS' git log --walk-reflogs --format='%C(dim)%<(21,trunc)%ci%x08%x08%x08%x08%x08 %C(reset)%gd%C(reset): %C(auto)%h%C(reset) %gs %C(dim)- %<(33,trunc)%s%C(reset)'


[color]
    ui = auto

[color "status"]
    # use different color than untracked and unmerged paths have
    changed = yellow

[core]
    # display non-ASCII characters (e.g. Polish) instead of escaping them
    quotepath = false
    # restore default pager behavior (needed because we manually set $LESS)
    pager = "less -FRX"

[diff]
    # detect renamed/copied files and show only actual differences between them
    renames = copies
    submodule = log

[merge]
    # in case of merge conflict also show how common ancestor looked like
    conflictstyle = diff3

[pager]
    # don't wrap lines in log and blame output (needed since git 2.1)
    log = "less -S"
    blame = "less -S"
    # don't switch to alternate screen, output to terminal immediately
    submodule-details = "less -REXS"

[submodule]
    recurse = true

[status]
    submodulesummary = true
